apiVersion: meta.gotemplating.fn.crossplane.io/v1alpha1
data:
    apiextensions.crossplane.io/environment:
        apiVersion: internal.crossplane.io/v1alpha1
        defaultTags:
            app: liferay
            deployment-name: {{ $env.deploymentName | quote }}
            project-id: {{ $projectId | quote }}
        kind: Environment
kind: Context