.pim-panel {
	margin-bottom: 1rem;
}

.pim-panel .panel-secondary .panel-header {
	border-bottom: 1px solid #e7e7ed;
	padding: 1rem;
}

.pim-panel .panel-title {
	font-size: 1.125rem;
	text-transform: none;
}
