.multi-shipping-container {
	.order-items-table {
		width: auto;

		td,
		th {
			width: auto;

			&.delivery-group {
				min-width: 15rem;

				.loading-animation {
					margin-bottom: 0;
					margin-top: 0;
				}
			}

			.order-item-thumbnail {
				width: 2rem;
			}
		}
	}

	.sku-name {
		a {
			color: var(--body-color, #1c1c24);
		}
	}

	.subnav-tbar {
		button.tbar-link {
			font-size: 0.875rem;
			padding-left: 0.5rem;
			padding-right: 0.5rem;

			&.btn-outline-borderless {
				color: #272833;
				font-weight: normal;
			}
		}
	}
}
