{{- $databaseName := "lportal" -}}
{{- $env := index .context "apiextensions.crossplane.io/environment" -}}
{{- $observedResources := .observed.resources | default dict -}}
{{- $xr := .observed.composite.resource -}}

{{- $backup := $xr.spec.backup | default dict -}}
{{- $cmkEnabled := $xr.spec.cmk.enabled -}}
{{- $environmentId := $xr.spec.environmentId -}}
{{- $managementPolicies := $xr.spec.orphanOnDelete | ternary (list "Create" "Observe" "Update") (list "*") | toJson -}}
{{- $namespace := $xr.metadata.namespace -}}
{{- $overlayAccess := $xr.spec.overlayAccess | default dict -}}
{{- $projectId := $xr.spec.projectId -}}
{{- $region := $env.region -}}
{{- $restoreGeneration := $xr.spec.restoreGeneration | default "" -}}
{{- $restorePhase := $xr.spec.restorePhase | default "none" -}}
{{- $retainedDataPlanes := $xr.spec.retainedDataPlanes | default dict -}}
{{- $targetActiveDataPlane := $xr.spec.targetActiveDataPlane | default "blue" -}}

{{- $activeDataPlane := $targetActiveDataPlane -}}
{{- $backupRetentionDays := max 7 (min 35 (int ($backup.retentionDays | default 30))) -}}
{{- $dataPlanes := list $targetActiveDataPlane -}}
{{- $overlayStorageAccountName := printf "%.9s%.6sovl%s" ($env.deploymentName | replace "-" "" | lower) ($projectId | replace "-" "" | lower) (printf "%s-%s" $env.deploymentName $projectId | sha256sum | trunc 6) -}}
{{- $projectIdFull := printf "%s-%s" $projectId $environmentId -}}
{{- $targetInactiveDataPlane := (eq $targetActiveDataPlane "blue") | ternary "green" "blue" -}}

{{- if (eq $restorePhase "promoting") -}}
    {{- $dataPlanes = list "blue" "green" -}}
{{- else if (eq $restorePhase "provisioning") -}}
    {{- $activeDataPlane = $targetInactiveDataPlane -}}
    {{- $dataPlanes = list "blue" "green" -}}
{{- end }}

{{- $activeDatabaseFqdn := dig (printf "database-primary-%s" $activeDataPlane) "resource" "status" "atProvider" "fqdn" "" $observedResources -}}
{{- $uidHash := printf "%s-%s-%s" $env.subscriptionId $env.deploymentName $projectIdFull | sha256sum | trunc 6 -}}

{{- $baseName := printf "%.18s-%s" $projectIdFull $uidHash -}}
{{- $storageAccountBase := printf "%.15s%s" ($projectIdFull | replace "-" "" | lower) $uidHash -}}

{{- $backupVaultName := printf "%s-vault" $baseName -}}
{{- $dataPlaneKeys := dict -}}

{{- range $dataPlane := list "blue" "green" -}}
    {{- $observedDatabaseServer := dig (printf "database-primary-%s" $dataPlane) "resource" dict $observedResources -}}
    {{- if and $observedDatabaseServer (not (dig "metadata" "deletionTimestamp" "" $observedDatabaseServer)) -}}
        {{- $_ := set $dataPlaneKeys $dataPlane (dig "metadata" "labels" "dataPlaneKey" $dataPlane $observedDatabaseServer) -}}
    {{- else if and (eq $restorePhase "provisioning") (eq $dataPlane $targetActiveDataPlane) $restoreGeneration -}}
        {{- $_ := set $dataPlaneKeys $dataPlane (printf "%s-%s" $dataPlane $restoreGeneration) -}}
    {{- else -}}
        {{- $_ := set $dataPlaneKeys $dataPlane $dataPlane -}}
    {{- end -}}
{{- end }}

{{- $dataPlaneNames := dict -}}

{{- range $dataPlaneKey := concat (values $dataPlaneKeys) (keys $retainedDataPlanes) -}}
    {{- $dataPlane := first (splitList "-" $dataPlaneKey) -}}
    {{- $generation := trimPrefix (printf "%s-" $dataPlane) $dataPlaneKey -}}
    {{- $resourceNames := dict "databaseServer" (printf "%s-%s" $baseName $dataPlaneKey) -}}
    {{- if eq $generation $dataPlaneKey -}}
        {{- $_ := set $resourceNames "storageAccount" (printf "%s%s" $storageAccountBase (trunc 1 $dataPlane)) -}}
        {{- $_ := set $resourceNames "backupInstance" (printf "%s-storage-instance-%s" $backupVaultName $dataPlane) -}}
    {{- else -}}
        {{- $_ := set $resourceNames "storageAccount" (printf "%.11s%s%s%s" ($projectIdFull | replace "-" "" | lower) $uidHash (trunc 1 $dataPlane) $generation) -}}
        {{- $_ := set $resourceNames "backupInstance" (printf "%s-%s" $backupVaultName $resourceNames.storageAccount) -}}
    {{- end -}}
    {{- $_ := set $dataPlaneNames $dataPlaneKey $resourceNames -}}
{{- end }}

{{- $databaseServerNames := dict -}}
{{- $storageAccountNames := dict -}}

{{- range $dataPlane, $dataPlaneKey := $dataPlaneKeys -}}
    {{- $_ := set $databaseServerNames $dataPlane (index $dataPlaneNames $dataPlaneKey "databaseServer") -}}
    {{- $_ := set $storageAccountNames $dataPlane (index $dataPlaneNames $dataPlaneKey "storageAccount") -}}
{{- end }}

{{- $demotedDataPlane := "" -}}

{{- if and (eq $restorePhase "promoting") (hasKey $retainedDataPlanes (index $dataPlaneKeys $targetInactiveDataPlane)) -}}
    {{- $demotedDataPlane = $targetInactiveDataPlane -}}
{{- end }}

{{- $demotedManagementPolicies := (eq $demotedDataPlane "") | ternary $managementPolicies (list "Create" "Observe" "Update" | toJson) -}}
{{- $renderedDataPlaneKeys := list -}}

{{- range $dataPlane := $dataPlanes -}}
    {{- $renderedDataPlaneKeys = append $renderedDataPlaneKeys (index $dataPlaneKeys $dataPlane) -}}
{{- end }}

{{- $cmkIdentityId := printf "/subscriptions/%s/resourceGroups/%s/providers/Microsoft.ManagedIdentity/userAssignedIdentities/%s-cmk" $env.subscriptionId $env.resourceGroupName $baseName -}}
{{- $keyVaultName := printf "%s-kv" $storageAccountBase -}}

{{- $cmkKeyVaultKeyId := printf "https://%s.vault.azure.net/keys/%s-key" $keyVaultName $baseName -}}