{{- $database := $xr.spec.database -}}
{{- $observedDatabaseDataPlanes := list -}}

{{- range $dataPlane := list "blue" "green" -}}
    {{- if hasKey $observedResources (printf "liferay-db-%s" $dataPlane) -}}
        {{- $observedDatabaseDataPlanes = append $observedDatabaseDataPlanes $dataPlane -}}
    {{- end -}}
{{- end }}

{{- range $i, $dataPlane := $dataPlanes }}
{{- $databaseServerName := index $databaseServerNames $dataPlane }}
{{- $isDatabaseRestoreTarget := and (eq $restorePhase "provisioning") (eq $dataPlane $targetActiveDataPlane) }}
{{- $isDemotedDataPlane := eq $dataPlane $demotedDataPlane }}
{{- $restoreSourceDatabaseServerName := dig ($database.restoreSourceDataPlane | default (index $dataPlaneKeys $activeDataPlane)) "databaseServer" "" $dataPlaneNames }}
{{- if $i }}
---
{{- end }}
apiVersion: dbforpostgresql.azure.m.upbound.io/v1beta1
kind: FlexibleServer
metadata:
    annotations:
        gotemplating.fn.crossplane.io/composition-resource-name: database-primary-{{ $dataPlane }}
    labels:
        dataPlane: {{ $dataPlane }}
        dataPlaneKey: {{ index $dataPlaneKeys $dataPlane }}
    name: {{ $databaseServerName }}
spec:
    forProvider:
        {{- if not $isDatabaseRestoreTarget }}
        administratorLogin: liferay_database_admin
        administratorPasswordSecretRef:
            key: password
            name: database-admin-password
        {{- end }}
        authentication:
            activeDirectoryAuthEnabled: true
            passwordAuthEnabled: true
            tenantId: {{ $env.tenantId }}
        {{- if not $isDatabaseRestoreTarget }}
        autoGeneratePassword: true
        {{- end }}
        autoGrowEnabled: true
        backupRetentionDays: {{ $backupRetentionDays }}
        {{- if $cmkEnabled }}
        customerManagedKey:
            keyVaultKeyId: {{ $cmkKeyVaultKeyId }}
            primaryUserAssignedIdentityId: {{ $cmkIdentityId }}
        {{- end }}
        delegatedSubnetId: {{ $env.databaseSubnetId }}
        {{- if $database.highAvailability }}
        highAvailability:
            mode: ZoneRedundant
        {{- end }}
        {{- if $cmkEnabled }}
        identity:
            identityIds:
                -   {{ $cmkIdentityId }}
            type: UserAssigned
        {{- end }}
        location: {{ $region }}
        privateDnsZoneId: {{ $env.databasePrivateDnsZoneId }}
        publicNetworkAccessEnabled: false
        resourceGroupName: {{ $env.resourceGroupName }}
        skuName: {{ $database.instanceType | default "GP_Standard_D2s_v3" }}
        storageMb: {{ mul ($database.storageGB | default 32) 1024 }}
        tags:
            active: {{ printf "%t" (eq $dataPlane $activeDataPlane) | quote }}
            should-back-up: "true"
        version: {{ $database.version | default "16" | quote }}
    {{- if $isDatabaseRestoreTarget }}
    initProvider:
        createMode: PointInTimeRestore
        pointInTimeRestoreTimeInUtc: {{ $database.restorePointInTime }}
        sourceServerId: /subscriptions/{{ $env.subscriptionId }}/resourceGroups/{{ $env.resourceGroupName }}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{{ $restoreSourceDatabaseServerName }}
    {{- end }}
    managementPolicies: {{ $isDemotedDataPlane | ternary $demotedManagementPolicies $managementPolicies }}
---
apiVersion: dbforpostgresql.azure.m.upbound.io/v1beta1
kind: FlexibleServerDatabase
metadata:
    annotations:
        crossplane.io/external-name: {{ $databaseName }}
        gotemplating.fn.crossplane.io/composition-resource-name: liferay-db-{{ $dataPlane }}
    labels:
        dataPlane: {{ $dataPlane }}
    name: {{ $xr.metadata.name }}-db-{{ $dataPlane }}
spec:
    forProvider:
        charset: UTF8
        collation: en_US.utf8
        serverIdSelector:
            matchControllerRef: true
            matchLabels:
                dataPlane: {{ $dataPlane }}
    managementPolicies: ["Create", "Observe", "Update"]
{{- end }}
{{- range $retainedDataPlaneKey, $_ := $retainedDataPlanes }}
{{- if not (has $retainedDataPlaneKey $renderedDataPlaneKeys) }}
{{- $retainedDatabaseServerName := index $dataPlaneNames $retainedDataPlaneKey "databaseServer" }}
---
apiVersion: dbforpostgresql.azure.m.upbound.io/v1beta1
kind: FlexibleServer
metadata:
    annotations:
        crossplane.io/external-name: {{ $retainedDatabaseServerName }}
        gotemplating.fn.crossplane.io/composition-resource-name: database-retained-{{ $retainedDataPlaneKey }}
    labels:
        retainedDataPlane: {{ $retainedDataPlaneKey }}
    name: {{ $retainedDatabaseServerName }}-retained
spec:
    forProvider:
        resourceGroupName: {{ $env.resourceGroupName }}
    managementPolicies: {{ list "Delete" "Observe" | toJson }}
{{- end }}
{{- end }}
{{- range $dataPlane := list "blue" "green" }}
{{- if or (has $dataPlane $dataPlanes) (has $dataPlane $observedDatabaseDataPlanes) }}
---
apiVersion: protection.crossplane.io/v1beta1
kind: Usage
metadata:
    annotations:
        gotemplating.fn.crossplane.io/composition-resource-name: usage-server-by-database-{{ $dataPlane }}
    name: {{ $xr.metadata.name }}-server-by-database-{{ $dataPlane }}
    namespace: {{ $namespace }}
spec:
    by:
        apiVersion: dbforpostgresql.azure.m.upbound.io/v1beta1
        kind: FlexibleServerDatabase
        resourceSelector:
            matchControllerRef: true
            matchLabels:
                dataPlane: {{ $dataPlane }}
    of:
        apiVersion: dbforpostgresql.azure.m.upbound.io/v1beta1
        kind: FlexibleServer
        resourceSelector:
            matchControllerRef: true
            matchLabels:
                dataPlane: {{ $dataPlane }}
{{- end }}
{{- end }}